   <mat-toolbar style="background-color:bgColor;"  
        fxLayout="row" fxLayoutAlign="space-around center">
     <div  fxLayout="row" fxLayoutAlign="start center">
        <a mat-button  [routerLink]="['/home']" routerLinkActive="ativo">
            <img  src="./../../../../assets/icons/house.png">
            <span>Inicio</span>
        </a>
        <a mat-button>
            <img  src="./../../../../assets/icons/beer (1).png">
            <span>Cervejas</span>
        </a>
        <a mat-button>
            <img src="./../../../../assets/icons/list.png">
            <span>Sobre nós</span>
        </a>
     </div>
     <div fxLayout="row" fxLayoutAlign="end center" >
        <a mat-button>
            <span>Estrela da Morte</span>
            <img src="./../../../../assets/icons/estrela-da-morte.png">
        </a>
        <a mat-button>
            <img src="./../../../../assets/icons/filter.png">
        </a>
     </div>
    </mat-toolbar>
