   <mat-toolbar style="background-color:bgColor;"  
        fxLayout="row" fxLayoutAlign="space-around center">
     <div  fxLayout="row" fxLayoutAlign="start center">
        <p>
            <img  src="./../../../../assets/icons/house.png">
            <span>Inicio</span>
        </p>
        <p>
            <img  src="./../../../../assets/icons/beer (1).png">
            <span>Cervejas</span>
        </p>
        <p>
            <img src="./../../../../assets/icons/list.png">
            <span>Sobre nós</span>
        </p>
     </div>
     <div fxLayout="row" fxLayoutAlign="end center" >
        <p>
            <span>Estrela da Morte</span>
            <img src="./../../../../assets/icons/estrela-da-morte.png">
        </p>
        <p>
            <img src="./../../../../assets/icons/filter.png">
        </p>
     </div>
    </mat-toolbar>
